.section-2 {
    background: $offwhite;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 70px 115px;
    div {
      text-align: center;
    }
    img {
      width: 35px;
    }
  
    h2 {
      font-size: 1em;
      margin-bottom: 5px;
      margin-top: 10px;
    }
    p {
      line-height: 20px;
      font-weight: 300;
      font-size: 0.7em;
    }
  }
  main {
    display: flex;
    flex-wrap: wrap;
    
    .article-1 {
      @include text-article;
    }
    .article-2 {
      background: url(../images/bg-showcase-1.jpg);
      @include photo-article;
    }
    .article-3 {
      background: url(../images/bg-showcase-2.jpg);
      @include photo-article;
    }
    .article-4 {
      @include text-article;
    }
    .article-5 {
      @include text-article;
    }
    .article-6 {
      background: url(../images/bg-showcase-3.jpg);
      @include photo-article;
    }
    h3 {
      margin-bottom: 5px;
    }
    p {
      line-height: 20px;
      font-weight: 300;
      font-size: 0.7em;
    }
    }
    .review {
      background: $offwhite;
      height: 300px;
      padding-top: 60px;
      align-items: center;
      justify-content: center;
      h3 {
        text-align: center;
        font-size: 1.1em;
        margin-bottom: 25px;
      }
      .comments {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      text-align: center;
      gap: 50px;
       }
      .photo {
        width: 100px;
        border-radius: 50px;
        box-shadow: 0 2px 2px;
        color: #afb7bf;
      }
      h4 {
        font-size: 0.7em;
        margin: 5px;
      }
      p {
        line-height: 12px;
        font-weight: 300;
        font-size: 0.5em;
      }
    }
  .bottom {
    background: url(../images/bg-masthead.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    height: 170px;
    @include section-1;
  
  h1 {
    color: white;
    font-size: 1em;
    margin-bottom: 10px;
  }
  input {
    @include input;
  }
  button {
    @include button-base;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 0.7em;
  }
  }